<div class="content">

    {{#if username}}
        Welcome {{username}}! Make some burgers!
    {{/if}}

        <!--{{#unless logged_in}}-->
    <!--<p> Sign up to add your burger! </p>-->
        <!--{{/unless}}-->

    {{#if logged_in}}
        <h2>Create Your Own</h2>

        <form class="create-update-form" action="burgers/create" method="POST">

            <div class="form-group">
                <label for="ca">Burger:</label>
                <input type="text" id="ca" name="name">
            </div>

            <button type="submit">Add Burger</button>
        </form>
    {{/if}}




    <div class ="wrap">
        <img src="../assets/sclogo.png" id="crimes-logo">

        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <!--Empty -->
                </div>
                <div class="col-lg-8">
                    <h2 id="aboutSite"> A community dedicated to theorizing, conspirasizing and solving the strangest crimes. Add cold cases or contribute to solving current ones. There’s only one rule: never keep the curiosity door locked. </h2>
                </div>
                <div class="col-lg-2">
                    <!--Empty-->
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul>
            {{#each burgers}}
                {{#unless this.devoured}}
                    <li>
                        {{this.name}} - created by {{this.User.email}}

                        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="true">
                            <button type="submit" class="btn btn-success">Devour!</button>
                        </form>

                        {{> burgers/delete-burger}}
                    </li>
                {{/unless}}
            {{/each}}
        </ul>

        <!--<h2>Devoured!</h2>-->

        <ul>
            {{#each burgers}}
                {{#if this.devoured}}
                    <li>
                        {{this.name}} - owned by {{this.User.email}}

                        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="false">
                            <button type="submit" class="btn btn-success">Make Me Another!</button>
                        </form>

                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>

</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p> Stranger Crimes Copyright 2016</p>
            </div>
            <div class="col-md-4">
                <a href="#"> Contact Us </a>
            </div>
            <div class="col-md-4">
                <a href="#"> Please Donate </a>
            </div>
        </div>
    </div>
</footer>